<?xml version="1.4"?>
<robot name="humanoid_viz">

  <link name="Torso_link">
    <inertial>
        <mass value="10" />
        <inertia ixx="0.375" ixy="0.0" ixz="0.0" iyy="0.31875" iyz="0.0" izz="0.09375"/>
    </inertial>
    <collision>
    <origin rpy="0.0 0.0 0.0" xyz="0.5 0.0 0.17" />
      <geometry>
        <box size="0.15 0.3 0.6" />
      </geometry>
        </collision>
    <visual>
    <origin rpy="0.0 0.0 0.0" xyz="0.5 0.0 0.17" />
      <geometry>
        <box size="0.15 0.3 0.6" />
      </geometry>
    </visual>
  </link>

  <link name="Head_link">
    <inertial>
        <mass value="1" />
        <inertia ixx="0.0375" ixy="0.0" ixz="0.0" iyy="0.031875" iyz="0.0" izz="0.009375"/>
    </inertial>
    <collision>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.1" />
      <geometry>
        <box size="0.15 0.15 0.2" />
      </geometry>
        </collision>
    <visual>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.1" />
      <geometry>
        <box size="0.15 0.15 0.2" />
      </geometry>
    </visual>
  </link>


  <link name="LeftLeg_link">
    <inertial>
        <mass value="10" />
        <inertia ixx="0.53958" ixy="0.0" ixz="0.0" iyy="0.53958" iyz="0.0" izz="0.0125"/>
    </inertial>
    <collision>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.35"/>
      <geometry>
        <cylinder radius="0.05" length="0.7" />
      </geometry>
    </collision>
    <visual>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.35" />
      <geometry>
        <cylinder radius="0.05" length="0.7" />
      </geometry>
    </visual>
  </link>

  <link name="LeftFoot_link">
    <inertial>
        <mass value="100" />
        <inertia ixx="0.2708" ixy="0.0" ixz="0.0" iyy="0.8333" iyz="0.0" izz="0.9375"/>
    </inertial>
    <collision>
    <origin rpy="0.0 0.0 0.0" xyz="0.1 0.0 -0.05"/>
      <geometry>
        <box size="0.3 0.15 0.1" />
      </geometry>
    </collision>
    <visual>
    <origin rpy="0.0 0.0 0.0" xyz="0.1 0.0 -0.05"/>
      <geometry>
        <box size="0.3 0.15 0.1" />
      </geometry>
    </visual>
  </link>

  <link name="RightLeg_link">
    <inertial>
        <mass value="10" />
        <inertia ixx="0.53958" ixy="0.0" ixz="0.0" iyy="0.53958" iyz="0.0" izz="0.0125"/>
    </inertial>
    <collision>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 -0.35" />
      <geometry>
        <cylinder radius="0.05" length="0.7" />
      </geometry>
    </collision>
    <visual>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 -0.35" />
      <geometry>
        <cylinder radius="0.05" length="0.7" />
      </geometry>
    </visual>
  </link>

  <link name="RightFoot_link">
    <inertial>
        <mass value="100" />
        <inertia ixx="0.2708" ixy="0.0" ixz="0.0" iyy="0.8333" iyz="0.0" izz="0.9375"/>
    </inertial>
    <collision>
    <origin rpy="0.0 0.0 0.0" xyz="0.1 0.0 -0.05"/>
      <geometry>
        <box size="0.3 0.15 0.1" />
      </geometry>
    </collision>
    <visual>
    <origin rpy="0.0 0.0 0.0" xyz="0.1 0.0 -0.05"/>
      <geometry>
        <box size="0.3 0.15 0.1" />
      </geometry>
    </visual>
  </link>

  <link name="LeftUpperArm_link">
    <inertial>
        <mass value="1" />
        <inertia ixx="0.007725" ixy="0.0" ixz="0.0" iyy="0.007725" iyz="0.0" izz="0.00045"/>
    </inertial>
    <collision>
    <origin rpy="1.5708 0.0 0.0" xyz="0.0 0.15 0.0" />
      <geometry>
        <cylinder radius="0.03" length="0.3" />
      </geometry>
    </collision>
    <visual>
    <origin rpy="1.5708 0.0 0.0" xyz="0.0 0.15 0.0" />
      <geometry>
        <cylinder radius="0.03" length="0.3" />
      </geometry>
    </visual>
  </link>

  <link name="LeftForeArm_link">
    <inertial>
        <mass value="1" />
        <inertia ixx="0.007725" ixy="0.0" ixz="0.0" iyy="0.007725" iyz="0.0" izz="0.00045"/>
    </inertial>
    <collision>
    <origin rpy="1.5708 0.0 0.0" xyz="0.0 0.15 0.0" />
      <geometry>
        <cylinder radius="0.03" length="0.3" />
      </geometry>
    </collision>
    <visual>
    <origin rpy="1.5708 0.0 0.0" xyz="0.0 0.15 0.0" />
      <geometry>
        <cylinder radius="0.03" length="0.3" />
      </geometry>
    </visual>
  </link>

  <link name="RightUpperArm_link">
    <inertial>
        <mass value="1" />
        <inertia ixx="0.007725" ixy="0.0" ixz="0.0" iyy="0.007725" iyz="0.0" izz="0.00045"/>
    </inertial>
    <collision>
    <origin rpy="1.5708 0.0 0.0" xyz="0.0 -0.15 0.0" />
      <geometry>
        <cylinder radius="0.03" length="0.3" />
      </geometry>
    </collision>
    <visual>
    <origin rpy="1.5708 0.0 0.0" xyz="0.0 -0.15 0.0" />
      <geometry>
        <cylinder radius="0.03" length="0.3" />
      </geometry>
    </visual>
  </link>

  <link name="RightForeArm_link">
    <inertial>
        <mass value="1" />
        <inertia ixx="0.007725" ixy="0.0" ixz="0.0" iyy="0.007725" iyz="0.0" izz="0.00045"/>
    </inertial>
    <collision>
    <origin rpy="1.5708 0.0 0.0" xyz="0.0 -0.15 0.0" />
      <geometry>
        <cylinder radius="0.03" length="0.3" />
      </geometry>
    </collision>
    <visual>
    <origin rpy="1.5708 0.0 0.0" xyz="0.0 -0.15 0.0" />
      <geometry>
        <cylinder radius="0.03" length="0.3" />
      </geometry>
    </visual>
  </link>

  <!-- <joint name="base_to_second_joint" type="continuous">
    <parent link="base_link"/>
    <child link="second_link"/>
    <axis xyz="1 0 0"/>
    <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0"/> 
  </joint> -->



  <joint name="LeftLeg_joint" type="prismatic">
  <origin xyz="0.5 0.1 -0.13" rpy="0.0 0.0 0.0"/> 
    <parent link="Torso_link"/>
    <child link="LeftLeg_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="30000" velocity="100.0" lower="-0.0" upper="0.0" />
    <dnamics damping="0.0" friction="0.0" />
  </joint>

  <joint name="RightLeg_joint" type="prismatic">
  <origin xyz="0.5 -0.1 -0.13" rpy="0.0 0.0 0.0"/> 
    <parent link="Torso_link"/>
    <child link="RightLeg_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="30000" velocity="100.0" lower="-0.0" upper="0.0" />
    <dnamics damping="0.0" friction="0.0" />
    <mimic joint="LeftLeg_joint" multiplier="1" offset="0"/>
  </joint>

  <joint name="LeftUpperArm_joint" type="revolute">
  <origin xyz="0.5 0.15 0.37" rpy="0.0 0.0 0.0"/> 
    <parent link="Torso_link"/>
    <child link="LeftUpperArm_link"/>
    <axis xyz="1 0 0"/>
    <limit effort="30" velocity="1.0" lower="-0.0" upper="0.0" />
    <dynamics damping="10.0" friction="0.0"/>
  </joint>

  <joint name="LeftForeArm_joint" type="revolute">
  <origin xyz="0.0 0.3 0.0" rpy="0.0 0.0 0.0"/> 
    <parent link="LeftUpperArm_link"/>
    <child link="LeftForeArm_link"/>
    <axis xyz="1 0 0"/>
    <limit effort="30" velocity="1.0" lower="-0.0" upper="0.0" />
  </joint>

  <joint name="RightUpperArm_joint" type="revolute" >
  <origin xyz="0.5 -0.15 0.37" rpy="0.0 0.0 0.0"/> 
    <parent link="Torso_link"/>
    <child link="RightUpperArm_link"/>
    <axis xyz="1 0 0"/>
    <limit effort="30" velocity="1.0" lower="-0.0" upper="0.0" />
    <dynamics damping="10.0" friction="0.0"/>
  </joint>

  <joint name="RightForeArm_joint" type="revolute" >
  <origin xyz="0.0 -0.3 0.0" rpy="0.0 0.0 0.0"/> 
    <parent link="RightUpperArm_link"/>
    <child link="RightForeArm_link"/>
    <axis xyz="1 0 0"/>
    <limit effort="30" velocity="1.0" lower="-0.0" upper="0.0" />
  </joint>

  <joint name="Head_joint" type="fixed">
  <origin xyz="0.5 0.0 0.47" rpy="0.0 0.0 0.0"/> 
    <parent link="Torso_link"/>
    <child link="Head_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <joint name="LeftFoot_joint" type="fixed">
  <origin xyz="0.0 0.0 -0.7" rpy="0.0 0.0 0.0"/> 
    <parent link="LeftLeg_link"/>
    <child link="LeftFoot_link"/>
    <axis xyz="0 0 1"/>
  </joint>

  <joint name="RightFoot_joint" type="fixed">
  <origin xyz="0.0 0.0 -0.7" rpy="0.0 0.0 0.0"/> 
    <parent link="RightLeg_link"/>
    <child link="RightFoot_link"/>
    <axis xyz="0 0 1"/>
  </joint>


</robot>