<robot name="cylinder_robot">
  <pose>0 1 0 0 0 0</pose>
  <link name="cylinder_link">
    <inertial>
      <mass value="1" />
      <inertia  ixx="0.19" ixy="0.0"  ixz="0.0"  iyy="0.19"  iyz="0.0"  izz="0.005" />
    </inertial>
    <collision name="cylinder_collision">
      <geometry>
        <cylinder length="1.5" radius="0.1"/>
      </geometry>
    </collision>
    <visual name="visual">
      <geometry>
        <cylinder length="1.5" radius="0.1"/>
      </geometry>
    </visual>
    <sensor name='my_contact' type='contact'>
    <plugin name="my_plugin" filename="libcontact.so"/>
      <contact>
        <collision>cylinder_collision</collision>
      </contact>
      <update_rate> 100 </update_rate>
    </sensor>
  </link>
  <gazebo reference="block">
    <sensor name='my_contact' type='contact'>
    <plugin name="my_plugin" filename="libcontact.so"/>
      <contact>
        <collision>cylinder_collision</collision>
      </contact>
      <update_rate> 100 </update_rate>
    </sensor>
  </gazebo>
</robot>


<!-- <robot name="block">
  <link name="block">
    <inertial>
      <mass value="1" />
      <inertia  ixx="0.19" ixy="0.0"  ixz="0.0"  iyy="0.19"  iyz="0.0"  izz="0.005" />
    </inertial>
    <visual>
      <geometry>
        <cylinder length="1.5" radius="0.1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="1.5" radius="0.1"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="block">
    <material>Gazebo/Blue</material>
     <mu1>10</mu1>
     <mu2>10</mu2>
  </gazebo>
</robot> -->